<div class="investment-list">
  <h2 class="investment-list__title">
    INVESTIMENTOS
  </h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="investment-list-table">
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef class="investment-list-column-name"> NOME </th>
      <td mat-cell *matCellDef="let element" (click)="setInvestment(element)"> {{element.nome}} </td>
    </ng-container>

    <!-- Objetivo Column -->
    <ng-container matColumnDef="objetivo">
      <th mat-header-cell *matHeaderCellDef class="investment-list-column-name"> OBJETIVO </th>
      <td mat-cell *matCellDef="let element"> {{element.objetivo}} </td>
    </ng-container>

    <!-- Saldo Total Column -->
    <ng-container matColumnDef="saldoTotal">
      <th mat-header-cell *matHeaderCellDef class="investment-list-column-name"> SALDO TOTAL </th>
      <td mat-cell *matCellDef="let element"> {{element.saldoTotal | currency : 'BRL'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="investment-list-table-row"></tr>
  </table>
  <div class="loader" *ngIf="isVisibleLoader">
    <mat-spinner></mat-spinner>
  </div>
</div>
